%h1 Listing channels

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @channels.each do |channel|
      %tr
        %td= channel.title
        %td= link_to 'Show', channel
        - if channel.user_id == current_user.id
          %td= link_to 'Edit', edit_channel_path(channel)
          %td= link_to 'Destroy', channel, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Channel', new_channel_path
