%p
  %b= @channel.title
  %span= @channel.created_at

%p
  Conversation for
  = link_to @channel.offer.name, @channel.offer
  with
  - @channel.offer.users.map do |u|
    - if u.id == current_user.id
      %span Me
    - else
      = link_to u.email, public_profile_url(u)

#messages{'data-channel-room-id':"#{@channel.id}", style:'overflow-y: scroll; height:400px;'}
  - @channel.messages.each do |message|
    = render 'messages/message', message: message


= form_for @message, url: '#' do |f|
  = f.label :body
  = f.text_area :body, class: 'form-control'
  = f.submit "Post"

= link_to 'Edit', edit_channel_path(@channel)
\|
= link_to 'Back', channels_path
